/* ------------------------------------ IMPORT --------------------------------- */

@import url("https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap");

/* ------------------------------------ GLOBAL RULE --------------------------------- */

:root {
  --black: #1e1e1e;
  --white: #ffffff;
  --grey-rose: rgba(218, 210, 210, 0.817);
  --grey-rose2: rgba(227, 203, 203, 0.817);
  --light-grey: rgba(122, 114, 114, 0.438);
  --grey: rgb(173, 163, 163);
}

/* ------------------------------------ HEADER --------------------------------- */

.container-main {
  line-height: 120px;
  display: flex;
  flex: 1;
  padding: 0px 60px 0px 60px;
}
.container-left {
  line-height: 120px;
  width: 850px;
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.logo {
  height: 110px;
  display: flex;
  margin: 5px 0px 5px 0px;
}
.header-title {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  color: var(--light-grey);
}
.container-right {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}
.icone-profile {
  position: absolute;
  top: 32px;
  left: 1280px;

}
.header-title-right {
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  color: var(--light-grey);
  position: relative;
  margin-right: 90px;
}
.header-title-right_1 {
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  color: var(--light-grey);
}
.header-underline {
  height: 6px;
  background-color: var(--grey-rose2);
}

/* ------------------------------------ HOME --------------------------------- */
.container-home {
  display:flex;
  justify-content: center;
}
.hero {
  display: flex;
  justify-content: center;
  background-image: url("./hero.jpg");
  background-repeat: no-repeat;
  height: 367px;
  width: 1658px;
  margin:10px;
}
/* effet wave bas de photo : */
.wave {
  margin-top:-100px;
  height: 90px;
}
.cls-1 {
fill: white;
}
.input {
  margin-top: 105px;
  width: 700px;
  height: 44px;
  padding: 0px 20px 0px 20px;
  font-size: 17px;
  border: 1px solid white;
  border-radius: 20px;
}
.wrapper {
  display: flex;
  flex: row;
  width: 1200px;
  /* height: 500px; */
  background-color: yellow;
  justify-content: space-between;
}
.wrapper-title {
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  color: var(--black);
  margin-bottom: 30px;
}