/* ------------------------------------ IMPORT --------------------------------- */

@import url("https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap");

/* ------------------------------------ GLOBAL RULE --------------------------------- */

:root {
  --black: #1e1e1e;
  --white: #ffffff;
  --grey-rose: rgba(218, 210, 210, 0.817);
  --grey-rose2: rgba(227, 203, 203, 0.817);
  --light-grey: rgba(122, 114, 114, 0.438);
  --light-grey2: rgba(138, 133, 133, 0.226);
  --grey: rgb(173, 163, 163);
}
@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon.eot?gkktuh");
  src: url("fonts/icomoon.eot?gkktuh#iefix") format("embedded-opentype"),
    url("fonts/icomoon.ttf?gkktuh") format("truetype"),
    url("fonts/icomoon.woff?gkktuh") format("woff"),
    url("fonts/icomoon.svg?gkktuh#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* ------------------------------------ HEADER --------------------------------- */

.container-main {
  line-height: 105px;
  display: flex;
  flex: 1;
  padding: 0px 60px 0px 60px;
}
.container-left {
  line-height: 105px;
  width: 850px;
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.logo {
  height: 100px;
  display: flex;
  margin: 2.5px 0px 2.5px 0px;
}
.header-title {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  color: var(--light-grey);
}
.container-right {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}
.icone-profile {
  position: relative;
  top: 35px;
  left: -100px;
}
.header-title-right {
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  color: var(--light-grey);
  position: absolute;
}
.header-title-right_1 {
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  color: var(--light-grey);
  margin-left: 40px;
}
.header-underline {
  height: 6px;
  background-color: var(--grey-rose2);
}

/* ------------------------------------ HOME --------------------------------- */
.container-home {
  display: flex;
  justify-content: center;
}
.main-hero {
  display: flex;
  justify-content: center;
}
.hero {
  display: flex;
  justify-content: center;
  background-image: url("./hero.jpg");
  background-repeat: no-repeat;
  height: 367px;
  width: 1658px;
  margin: 0px 10px 0px 10px;
}
/* effet wave bas de photo : */
.wave {
  margin-top: -115px;
  height: 110px;
}
.cls-1 {
  fill: white;
}
.input {
  margin-top: 95px;
  width: 700px;
  height: 44px;
  padding: 0px 20px 0px 20px;
  font-size: 17px;
  border: 1px solid white;
  border-radius: 20px;
}
.wrapper {
  display: flex;
  flex-direction: column;
  width: 1200px;
  justify-content: space-between;
}
.wrapper-container {
  display: flex;
  justify-content: space-between;
}
.wrapper-title {
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  font-weight: bold;
  color: var(--black);
}
.icon-heart1:before {
  content: "\e9da";
  color: var(--grey-rose2);
  margin-left: 10px;
  font-size: 23px;
}
.slides-shop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 15px 0px 30px 0px;
}

/* ------------------- slide-shop ------------------ */

.slide-shop {
  height: 360px;
  width: 380px;
}
/* pour faire disparaitre la CSS dù au lien, donner une className au lien et noter ceci : */
.link {
  text-decoration: inherit;
  color: inherit;
}
.img-slide-shop {
  height: 200px;
  width: 380px;
  border-radius: 20px;
}
.text-slide-shop {
  display: flex;
  flex-direction: column;
}
.title-slide-shop {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 15px;
  color: var(--grey);
}
.city-slide-shop {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 15px;
  color: var(--grey-rose);
}
.reviews-stars-container {
  display: flex;
  flex-direction: row;
  position: relative;
}
.reviews-slide-shop {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 10px;
  color: var(--black);
  margin-right: 10px;
  position: absolute;
  right: 230px;
  top: 2px;
}
.description-slide-shop {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  color: var(--black);
}

/* ------------------------------------ FOOTER --------------------------------- */

.container-footer {
  display: flex;
  flex: 1;
  justify-content: space-evenly;
  line-height: 80px;
  background-color: var(--grey-rose2);
}
.footer-text {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  color: var(--white);
}
.icon-mail2:before {
  content: "\ea84";
  color: white;
  margin-right: 7px;
  font-size: 20px;
}

/* ------------------------------------ SHOP --------------------------------- */

/* ------------------ top bar ----------------- */

.shop-top {
  display: flex;
  justify-content: center;
  flex: 1;
  line-height: 40px;
  background-color: var(--grey-rose2);
  padding: 10px;
}
.wrapper-shop {
  display: flex;
  flex-direction: column;
  width: 1200px;
}
.main-container-shop {
  display: flex;
  justify-content: space-between;
}
.container-left-shop {
  display: flex;
  flex-direction: column;
  width: 850px;
}
.container-right-shop {
  display: flex;
  flex-direction: row;
  flex: 1;
}
.shop-title {
  font-family: "Poppins", sans-serif;
  font-size: 35px;
  font-weight: bold;
  color: var(--white);
}
.shop-category {
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  font-weight: bold;
  color: var(--grey);
}
.shop-update {
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  font-weight: bold;
  color: var(--grey);
  margin-right: 100px;
}
.shop-favorite {
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  font-weight: bold;
  color: var(--grey);
}
.icon-heart:before {
  content: "\e9da";
  color: var(--grey);
  margin-right: 10px;
}
.icon-pencil2:before {
  content: "\e906";
  color: var(--grey);
  margin-right: 10px;
}

/* ------------------ fiche shop ----------------- */
.img-shop {
  width: 720px;
  height: 360px;
  border-radius: 20px;
  margin: 40px 0px 40px 0px;
}
.shop-reviews {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 15px;
  color: var(--black);
}
.icon-star-full:before {
  content: "\e9d9";
  color: gold;
}
.icon-star-full1:before {
  content: "\e9d9";
  color: grey;
}
.shop-descritpion {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  color: var(--black);
  margin: 20px 130px 40px 0px;
}

/* ------------------- reviews ------------------ */

.container-right-shop2 {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.shop-add-reviews-container {
  margin: 40px 0px 40px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 180px;
}
.shop-add-reviews {
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  font-weight: bold;
  color: white;
  border: 1px solid var(--grey-rose2);
  padding: 10px 10px 10px 10px;
  border-radius: 8px;
  background-color: var(--grey-rose2);
  cursor: pointer;
}
.shop-list-reviews {
  background-color: var(--light-grey2);
  flex: 1;
  border: 1px solid var(--light-grey2);
  padding: 10px 10px 10px 10px;
  border-radius: 8px;
  margin-bottom: 40px;
}

/* ------------------------------------ SHOP --------------------------------- */

.icon-heart1:before {
  content: "\e9da";
  color: white;
  margin-left: 15px;
  font-size: 25px;
}

/* .icon-star-empty:before {
  content: "\e9d7";
  color: black;
} 

.icon-search:before {
  content: "\e986";
} */
